body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 50px;
}
.name{
    color: coral;

}
.half-width{
    width: 40%;
    float:left;
    margin-left: 2%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.top1{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    border: lightsalmon;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 900s;


}
.Dream-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 500px;
    
}
.gallary{
    display: block;
    float: left;
    width: 30%;
    padding: 2%;
}

.gallary img{
    width: 100%;
}

.main-gallary{
    margin-left: 90px;
}